<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>{% block title %} Flask {% endblock %} </title> | 2021
	</head>
	<body style="background-color:red;">
		<h1>Aprendiendo Menus</h1>
		<hr/>
			<ul>
				<li>
					<a href="/">Inicio</a>
				</li>

				<li>
					<a href="{{ url_for('contacto') }}">Contacto</a>
				</li>
				<li>
					<a href="{{ url_for('lenguajes') }}">Lenguajes</a>
				</li>
			</ul>
		<hr/>
		<section id="content">
			{% block content %}
			
			{% endblock %}
		</section>
		
		<footer>
			Máster en Python de Pedro 
		</footer>
	</body>

</html>